---

---

<section id="achievements" class="max-md:w-full w-5/6 mx-auto">
  <div class="py-48 flex flex-col items-center">
    <h1
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
      class="mb-8 font-extrabold text-center text-4xl text-transparent bg-clip-text bg-gradient-to-tr from-[#d7d7d7] to-[#616161] sm:text-3xl md:text-5xl"
    >
      Achievements
    </h1>
    <div class="flex gap-2 justify-center mt-8 max-md:w-5/6 w-3/4">
      <div class="text-primary font-semibold flex flex-col gap-y-8">
        <!-- <img class="w-16" src="https://cdn-icons-png.flaticon.com/512/2942/2942544.png" alt=""> -->
        <div class="flex gap-8 h-full items-center">
          <div
            data-aos="fade-up"
            class="w-full justify-center flex flex-row border-primary/10 border-[1px] bg-primary/10 py-4 bg-opacity-10 px-8"
          >
            <div class="max-md:text-sm text-xl font-normal flex flex-col">
              <ul class="list-disc">
                <li>
                  <ul class="mt-2">
                    <li>
                      Codeforces, <span class="text-indigo-300"
                        >Max Rating: 1529</span
                      >
                    </li>
                    <li>
                      Codechef, 3 Star, <span class="text-indigo-300"
                        >Max Rating:1666</span
                      >
                    </li>
                    <li>
                      Hackerrank, <span class="text-indigo-300">6 star</span>
                    </li>
                  </ul>
                </li>
                <li>
                  <p class="mt-2">
                    <span class="text-indigo-300">First RunnerUp</span> at Tick-Tech-Toe
                    Hackathon at DA-IICT
                  </p>
                </li>
                <li>
                  <p class="mt-2">
                    Solved <span class="text-indigo-300"
                      >1000+ competitive programming</span
                    > problems
                  </p>
                </li>
                <li>
                  <p class="mt-2">
                    <span class="text-indigo-300">9th Rank</span> in GUJCET Exam,
                    Gujarat Board
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
