---

---

<section id="education" class="w-5/6 mx-auto mt-48">
  <div class="flex flex-col items-center">
    <h1
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
      class="mb-8 font-extrabold text-center text-4xl text-transparent bg-clip-text bg-gradient-to-tr from-[#d7d7d7] to-[#616161] sm:text-3xl md:text-5xl"
    >
      Education
    </h1>
    <div class="w-full flex gap-2 justify-center mt-8 w-3/4">
      <div class="w-3/4 text-primary font-semibold flex flex-col gap-y-8">
        <!-- <img class="w-16" src="https://cdn-icons-png.flaticon.com/512/2942/2942544.png" alt=""> -->
        <div class="flex gap-8 h-full items-center">
          <div
            data-aos="fade-up"
            class="w-full justify-center flex flex-row border-primary/10 border-[1px] bg-primary/10 py-4 bg-opacity-10 px-8"
          >
            <div class="text-xl font-normal flex flex-col">
              <h1>
                B.Tech. (Honours) in ICT with minor in Computational Science
              </h1>
              <p class="font-semibold mt-1">
                from <span class="text-indigo-300">
                  Dhirubhai Ambani Institute of Information and Communication
                  Technology
                </span>
              </p>
              <ul class="mt-3 ml-5 list-disc">
                <li>
                  <p> Aug 2018 - May 2022</p>
                </li>
                <li>
                  <p>
                    CGPA - <span class="font-semibold text-indigo-300"
                      >8.51
                    </span><span class="text-sm">/ 10</span>
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
