---

---

<section id="experience" class="w-5/6 mx-auto mt-48">
  <div class="flex flex-col items-center">
    <h1
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
      class="mb-8 font-extrabold text-center text-4xl text-transparent bg-clip-text bg-gradient-to-tr from-[#d7d7d7] to-[#616161] sm:text-3xl md:text-5xl"
    >
      Experience
    </h1>
    <p
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
      class="text-gray-400 text-center text-lg font-semibold"
    >
      This section tells about my professional journey in tech field
    </p>
    <div class="flex gap-2 justify-center mt-16 w-3/4">
      <span class="w-1 bg-primary bg-opacity-25 rounded-md"></span>
      <div>
        <div class="text-primary font-semibold flex flex-col gap-y-8">
          <!-- <img class="w-16" src="https://cdn-icons-png.flaticon.com/512/2942/2942544.png" alt=""> -->
          <div class="flex gap-8 h-full items-center">
            <span
              data-aos="fade-right"
              class="-ml-[16px] animate-ping absolute inline-flex w-3 h-3 rounded-full bg-sky-400 opacity-75"
            ></span>
            <div
              data-aos="fade-up"
              class="flex flex-row border-primary/10 border-[1px] bg-primary/10 py-4 bg-opacity-10 px-8"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 64 52"
                height="48"
                width="48"
                class="mt-2 flex-0 shrink-0"
                ><path
                  fill="#FAA21B"
                  d="M4.605 8.975c.2-3.025 2.694-5.646 5.988-5.444.898.1 1.996.1 3.693 1.411C21.67 11.495 26.062 22.99 24.764 32.97c-.1.504-.599.504-.799 0-2.095-7.158-8.982-15.324-15.07-17.845-2.894-1.109-4.491-3.226-4.291-6.15Z"
                ></path><path
                  fill="#70BF54"
                  d="M23.666 44.161C21.77 37.911 12.39 27.526 5.502 27.526a5.41 5.41 0 0 0-5.489 5.747c.2 3.428 3.094 5.142 5.689 5.142 5.888 0 12.974 2.52 17.366 6.15.299.201.698 0 .598-.404Z"
                ></path><path
                  fill="#00BAE9"
                  d="M32.15 51.622c-.1.504-.6.504-.799 0C23.566 27.122 37.539.203 47.918.002 53.408-.1 57.2 3.934 57.2 8.47c0 3.125-.998 5.646-4.59 7.662-9.083 5.142-19.263 18.45-20.46 35.489Z"
                ></path><path
                  fill="#128ACB"
                  d="M40.933 44.464c-.3.201-.699 0-.599-.404 1.896-6.25 11.278-16.635 18.164-16.635a5.41 5.41 0 0 1 5.49 5.747c-.2 3.428-3.095 5.142-5.69 5.142-5.788 0-12.874 2.722-17.365 6.15Z"
                ></path></svg
              >
              <div class="flex flex-col ml-6">
                <div class="flex flex-row text-2xl">
                  <div class="flex flex-col flex-1">
                    <h1>Product Engineer</h1>
                    <p>
                      At <a class="text-indigo-300" href="https://qbtrix.com/"
                        >Sprinklr</a
                      >
                    </p>
                  </div>
                  <p class="mt-2">From July 2022 to Current</p>
                </div>

                <span class="h-0.5 mt-4 w-fill bg-primary bg-opacity-25 rounded-md"></span>

                <ul class="mt-4 text-xl font-light list-disc">
                  <li class="mb-2">
                    Working on finance CRM project, where I developed <span
                      class="text-indigo-300 font-semibold">10+ features</span
                    > including <span class="text-indigo-300 font-semibold"
                      >collaborative team calendars
                    </span> and <span class="text-indigo-300 font-semibold"
                      >voice-notes attachments</span
                    >.
                  </li>
                  <li class="mb-2">
                    As part of self-serve product team, worked on <span
                      class="text-indigo-300 font-semibold"
                      >unified inbox tool</span
                    > that enables users to manage their social media easily & efficiently.
                    Developed <span
                    class="text-indigo-300 font-semibold">25+ complex features, widgets, and improved performance
                    by 30%</span>.
                  </li>
                  <li class="mb-2">
                    Implemented complex forms with <span
                    class="text-indigo-300 font-semibold">15+ interdependent input
                    fields</span> within work management tool to manage large teams
                    projects & tasks, used by <span
                    class="text-indigo-300 font-semibold">3000+ employees, saving 15% cost</span>
                    of the company, enhancing employee productivity, compliance
                    and data safety.
                  </li>
                  <li class="mb-2">
                    Contributed to the <span
                    class="text-indigo-300 font-semibold">migration of the entire front-end system</span>
                    to React v18, <span
                    class="text-indigo-300 font-semibold">significantly boosting the performance</span> of our
                    applications.
                  </li>
                  <li class="mb-2">
                    Delivered a talk on <span
                    class="text-indigo-300 font-semibold">CodeMods</span> and <span
                    class="text-indigo-300 font-semibold">Abstract Syntax Tree</span> to
                    <span
                      class="text-indigo-300 font-semibold">130+ developers</span>, helping them to automate changes in large
                    scale codebase effectively.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div
            data-aos="fade-up"
            class="w-full flex flex-row border-primary/10 border-[1px] bg-primary/10 py-4 bg-opacity-10 px-8"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 64 52"
              height="48"
              width="48"
              class="mt-2"
              ><path
                fill="#FAA21B"
                d="M4.605 8.975c.2-3.025 2.694-5.646 5.988-5.444.898.1 1.996.1 3.693 1.411C21.67 11.495 26.062 22.99 24.764 32.97c-.1.504-.599.504-.799 0-2.095-7.158-8.982-15.324-15.07-17.845-2.894-1.109-4.491-3.226-4.291-6.15Z"
              ></path><path
                fill="#70BF54"
                d="M23.666 44.161C21.77 37.911 12.39 27.526 5.502 27.526a5.41 5.41 0 0 0-5.489 5.747c.2 3.428 3.094 5.142 5.689 5.142 5.888 0 12.974 2.52 17.366 6.15.299.201.698 0 .598-.404Z"
              ></path><path
                fill="#00BAE9"
                d="M32.15 51.622c-.1.504-.6.504-.799 0C23.566 27.122 37.539.203 47.918.002 53.408-.1 57.2 3.934 57.2 8.47c0 3.125-.998 5.646-4.59 7.662-9.083 5.142-19.263 18.45-20.46 35.489Z"
              ></path><path
                fill="#128ACB"
                d="M40.933 44.464c-.3.201-.699 0-.599-.404 1.896-6.25 11.278-16.635 18.164-16.635a5.41 5.41 0 0 1 5.49 5.747c-.2 3.428-3.095 5.142-5.69 5.142-5.788 0-12.874 2.722-17.365 6.15Z"
              ></path></svg
            >
            <div class="flex flex-col ml-6 w-full">
              <div class="flex flex-row text-2xl">
                <div class="flex flex-col flex-1">
                  <h1>Product Engineering Intern</h1>
                  <p>
                    At <a class="text-indigo-300" href="https://qbtrix.com/"
                      >Sprinklr</a
                    >
                  </p>
                </div>
                <p class="mt-2">From Jan 2022 to June 2022</p>
              </div>

              <span class="h-0.5 mt-4 w-fill bg-primary bg-opacity-25 rounded-md"></span>

              <ul class="mt-4 text-xl font-light list-disc">
                <li class="mb-2">
                  Implemented generalised infra for <span
                  class="text-indigo-300 font-semibold">8 apps</span> to enable <span
                  class="text-indigo-300 font-semibold">server-side
                  fetching of GraphQL queries</span>.
                </li>
                <li class="mb-2">
                  Introduced eslint rule system to <span
                  class="text-indigo-300 font-semibold">enhance developer experience</span>
                  and developed scripts to <span
                  class="text-indigo-300 font-semibold">validate translation strings</span> in i18n
                  infrastructure.
                </li>
                <li class="mb-2">
                  Designed CodeMods to <span
                  class="text-indigo-300 font-semibold">fix lodash imports</span> that <span
                  class="text-indigo-300 font-semibold">reduced lodash
                  bundle size by 55%</span>.
                </li>
              </ul>
            </div>
          </div>
          <div
            data-aos="fade-up"
            class="w-full flex flex-row border-primary/10 border-[1px] bg-primary/10 py-4 bg-opacity-10 px-8"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 64 52"
              height="48"
              width="48"
              class="mt-2"
              ><path
                fill="#FAA21B"
                d="M4.605 8.975c.2-3.025 2.694-5.646 5.988-5.444.898.1 1.996.1 3.693 1.411C21.67 11.495 26.062 22.99 24.764 32.97c-.1.504-.599.504-.799 0-2.095-7.158-8.982-15.324-15.07-17.845-2.894-1.109-4.491-3.226-4.291-6.15Z"
              ></path><path
                fill="#70BF54"
                d="M23.666 44.161C21.77 37.911 12.39 27.526 5.502 27.526a5.41 5.41 0 0 0-5.489 5.747c.2 3.428 3.094 5.142 5.689 5.142 5.888 0 12.974 2.52 17.366 6.15.299.201.698 0 .598-.404Z"
              ></path><path
                fill="#00BAE9"
                d="M32.15 51.622c-.1.504-.6.504-.799 0C23.566 27.122 37.539.203 47.918.002 53.408-.1 57.2 3.934 57.2 8.47c0 3.125-.998 5.646-4.59 7.662-9.083 5.142-19.263 18.45-20.46 35.489Z"
              ></path><path
                fill="#128ACB"
                d="M40.933 44.464c-.3.201-.699 0-.599-.404 1.896-6.25 11.278-16.635 18.164-16.635a5.41 5.41 0 0 1 5.49 5.747c-.2 3.428-3.095 5.142-5.69 5.142-5.788 0-12.874 2.722-17.365 6.15Z"
              ></path></svg
            >
            <div class="flex flex-col ml-6 w-full">
              <div class="flex flex-row text-2xl">
                <div class="flex flex-col flex-1">
                  <h1>Product Engineering Intern</h1>
                  <p>
                    At <a class="text-indigo-300" href="https://qbtrix.com/"
                      >Sprinklr</a
                    >
                  </p>
                </div>
                <p class="mt-2">From May 2021 to July 2021</p>
              </div>
              <span class="h-0.5 mt-4 w-fill bg-primary bg-opacity-25 rounded-md"></span>
              <ul class="mt-4 text-xl font-light list-disc">
                <li class="mb-2">
                  Worked on a <span
                  class="text-indigo-300 font-semibold">chrome extension</span> that can take <span
                  class="text-indigo-300 font-semibold">user voice as an
                  input</span> and <span
                  class="text-indigo-300 font-semibold">performs actions based on detected intent</span> from input
                  and engineered end to end workflow of the application.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
